<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/plug-ins/1.11.2/i18n/ja.json">
  <link rel="stylesheet" href="{% static 'css/mainfile.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">

  <style>
    body {
      background-image: url("{% static 'jpg/background.jpg' %}");
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <!-- Add other CSS stylesheets and scripts as needed -->
  {% block css %}
  {% endblock %}
  

</head>
<body>

  <header>
    {% block header %}
    {% endblock %}
  </header>

  
  <main>
    {% block content %}{% endblock %}
  </main>
  

  <footer>
    {% block footer %}
    {% endblock %}
  </footer>

  
</body>
</html>



