{% extends 'base.html' %}
{% load static %}
{% block title %}Houjin{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/houjin.css' %}">
{% endblock %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="row no-gutters">
      <div class="col-lg-6">
        <form class="rounded p-4 form-container houjin-form" style="width: 130%;">
          <h2 class="text-center mb-4">法人選択</h2>
          {% csrf_token %}
          <div class="mb-3">
            <label for="corporation" class="form-label">法人名</label>
            <ul class="list-group" style="height: 250px;"　id="houjin-list">
              {% for houjin in houjins %}
              <button class="list-group-item btn btn-light" style="margin: 5px 0;" data-id="{{ houjin.id }}">{{ houjin.houjin_name }}</button>
              {% endfor %}            
            </ul>
          </div>
        </form>
      </div>
      <div class="col-lg-6">
        <form class="rounded p-4 form-container" style="width: 200%;">
          <h2 class="text-center mb-4">施設選択</h2>
          {% csrf_token %}
          <div class="mb-3">
            <label for="building" class="form-label">施設名</label>
            <div class="list-group" style="height: 250px;" id="building-list"></div>
          </div>          
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    $('.houjin-form button').click(function(event) {
      event.preventDefault(); // prevent default form submission behavior
      var houjin_id = parseInt($(this).data('id'));
  
      $.ajax({
          url: '/houjin/' + houjin_id + '/buildings/',
          success: function(data) {
            var buildingList = $('#building-list');
            buildingList.empty(); // clear previous content
                       
            for (var i = 0; i < data.buildings.length; i++) {
              var buildingName = data.buildings[i];
              var button = $('<button class="btn btn-light btn-block" style="margin: 5px 0;">' + buildingName + '</button>');
              button.click(function(event) {
                event.preventDefault(); // prevent default form submission behavior
                var buildingName = $(this).text(); // get the text of the clicked button
                $.ajax({
                  url: '/building-name/', // URL of the view to store building name in session
                  method: 'POST',
                  data: {
                    'building_name': buildingName,
                    'houjin_id' : houjin_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}' // add CSRF token to the POST data
                  },
                  success: function(response) {
                    // redirect to controller view on success
                    window.location.href = '/controller/';
                  }
                });
              });
              buildingList.append(button);
            }
          }
        });
    });
  });
</script>
{% endblock %}